@import url('https://use.typekit.net/hwu2ecs.css');

@font-face {
  font-family: SuisseIntl;
  src: url("../fonts/SuisseIntlTrial.otf") format("opentype");
  -webkit-font-smoothing: antialiased;
}

.content-block .container {
  max-width: 1260px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: #d7dee1;
  padding: 10px 0;
  z-index: 50;
}

footer {
  padding: 20px 0;
  height: 80px;
  width: 100%;
  background: #eff1f3;
}

header, footer {
  color: grey;
  font-size: 2rem;
  text-align: center;
}

.content { display: flex; }

.engagements-container {
  padding-left: 290px;
  margin-top: 350px;
}

.case-title {
  padding-left: 260px;
  padding-top: 175px;
  margin-top: 100px;
  /* width: 500px; */
}

.row:first-of-type {
  margin-top: 300px;
}

.eng-row-tile img {
  height: 33px;
}

#select-engagements h3 {
  width: 100px !important;
  margin-bottom: 200px;
}

.eng-row {
  margin-bottom: 140px;
  width: 90%;
}

.eng-row-tile {
  margin-right: 60px;
}

.eng-row-tile p {
  font-size: 30px;
  line-height: 32px !important;
  max-width: 400px;
}

.eng-row {
  display: flex;
}

main img {
  width: 100%;
  max-width: 900px;
  margin-bottom: 50px;
}

main img:last-of-type {
  margin: 0;
}

main {
  /* padding: 20px 0;
  padding-right: 15px; */
  flex: 1;
  height: 100%;
}

.blocks {
  background-color: black;
  transition-duration: 1s;
}

.blocks.white {
  background-color: white;
  transition-duration: 1s;
}

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  -moz-transform: translate(-50%, -50%) scale(1.1);
}

aside {
  margin-left: 70px;
}

.left-text-image-scroll aside {
  margin-left: 0;
}


.left-text-image-scroll .widget {
  margin-right: 84px;
}

.title {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background: #eff1f3;
}

.text {
  width: 100%;
  height: 30px;
  margin-bottom: 1.25rem;
  background: #eff1f3;
}

.text:nth-child(3n+2) {
  width: 90%;
}

.text:nth-child(2n+3) {
  width: 95%;
}

.image {
  position: relative;
  width: 100%;
  height: 200px;
  background: #f1f5f6;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.image .mountain:nth-child(1n) {
  position: absolute;
  content: '';
  right: 36%;
  right: calc(36% + ((100% - 465px)/7));
  top: 70px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 130px 130px 100px;
  border-color: transparent transparent #d7dee1 transparent;
  z-index: 2;
}

.image .mountain:nth-child(2n) {
  position: absolute;
  content: '';
  right: 12%;
  right: calc(12% + ((100% - 465px) / 6));
  top: 100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent rgba(128, 128, 128, 0.1) transparent;
  z-index: 1;
}

.image .sun {
  position: absolute;
  content: '';
  background: rgba(128, 128, 128, 0.1);
  right: 12%;
  top: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.widget {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 322px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 80px;
}

.widget h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 30px;
}

video.outline {
  width: 100%;
  padding: 13px;
  border: solid 1px #FFF;
  border-radius: 27px;
  background: black;
  z-index: 1;
  /* height: auto !important; */
}

div.outline {
  height: auto;
}

.content-block.mobile_mock .container {
  max-width: 758px;
}

.mobile_mock .outline video {
  /* position: relative; */
  /* max-width: 330px; */
  /* margin: 0 auto; */
  height: 550px;
  width: auto;
}

.mobile_mock video.custom {
  width: 303px;
  height: 624px;
  /* padding: 0; */
}

/* .nike_wires {
  height: 2455px;
} */
/* 
main {
  height: 4698px;
} */



.outline {
  /* padding: 12px;
  border: solid 1px #FFF;
  border-radius: 27px; */
  margin-bottom: 80px;
}

.outline:last-of-type {
  margin-bottom: 0;
}

.outline h5 {
  margin: 10px 0 0;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.nike_wires>div {
  margin-bottom: 50px;
}

.mobile-3 .container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.mobile-3 video,
.mobile-3 img {
  width: 280px;
  margin-right: 30px;
  height: 100%;
}

.mobile-3 video:last-of-type {
  margin-right: 0;
}

.mobile-3 .outline:last-of-type {
  margin-bottom: 80px;
  margin-right: 0;
}

.mobile-3 {
  position: relative;
  margin-top: 80px;
  height: 800px;
}

.mobile-3 .container {
  position: relative;
}

.mobile-3 img.nike_bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 80%;
  z-index: 0;
  max-width: none;
    height: auto !important;
}


.outline img {
  padding: 13px;
  border: solid 1px #FFF;
  border-radius: 27px;
}

.widget p {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 27px;
  margin-top: 27px;
}

.widget p:first-of-type {
  margin-top: 0;
}

.widget.js-sticky-widget {
  cursor: pointer;
  color: white;
  margin-top: 200px;
  /* top: 30px !important; */
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}


.widget--sticky {
  background: #F05382 !important;
  border: 2px solid #F05382 !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.filler {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem 0;
  height: 95vh;
  width: 100%;
  color: #d2d2d2;
  border: 2px dotted #ffc4c4;
}

.text, .title, .image {
  border-radius: 2px;
}

footer, .filler, .widget {
  border-radius: 4px;
}

html {
  background-color: black;
}

body {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0,.95,.14,1);
}

body.fadeout {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0,.95,.14,1);
}

.content-block {
  padding-bottom: 200px;

}

.scroll-container img{
  width: 500px;
}

.right-iso-para h3 {
  line-height: 23px;
  font-weight: 300;
  width: 350px;
  margin-right: 80px;
  font-size: 23px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.left-iso-para h3 {
  line-height: 23px;
  font-weight: 300;
  width: 350px;
  margin-right: 80px;
  font-size: 23px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.info .right-iso-para {
  max-width: initial;
  padding-right: 230px;
}

.left-list-content img {
  width: 131px;
  margin-top: 50px;
}

.content-block.right-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 110px;
}

.content-block.left-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
}

.left-list h3 {
  margin: 0;
}

.left-list .left-list-content {
  margin-left: 90px;
}

.left-list p {
  font-size: 30px;
  line-height: 32px !important;
  margin: 0;
  width: 380px;
}

.right-list ul {
  margin-left: 90px;
}

.right-list h3 {
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

.right-list ul li {
  font-size: 33px;
}

.left-iso-para {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.left-iso-para p{
  align-self: flex-end;
  width: 470px;
  margin-right: 80px
}

.full-bleed-image img {
  width: 100%;
}

.small-bottom-padding {
  padding-bottom: 70px !important;
}

.right-iso-para .title-header {
  align-self: flex-end;
  width: 413px;
  margin-right: 80px;
}

.left-iso-para .title-header {
  align-self: flex-start;
  width: 470px;
  margin-right: 80px;
}

.left-iso-para p {
  align-self: flex-start;
}


.content-block.single-image img {
  width: 90%;
  max-width: 1094px;
  margin: 0 auto;
  display: block;
}

div.skew {
  transition: transform 1.3s cubic-bezier(0,1,.5,1);
  will-change: transform;
}

#submit-inquiry {
  padding: 300px 0 200px;
  text-align: right;
  background-color: black;
  transition-duration: 1s;
}

#submit-inquiry button span {
  text-decoration: underline;
}

#submit-inquiry.white {
  background-color: white;
  transition-duration: 1s;
}

.submit-content {
  display: inline-block;
  text-align: left;
  margin-right: 155px;
}

#submit-inquiry a {
  color: white;
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: underline;
  background: none;
}

#submit-inquiry button {
  font-family: SuisseIntl, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0 !important;
  margin-top: 10px;
  cursor: pointer;
}

#submit-inquiry h1 {
  margin: 0 !important;
  padding: 0;
  color: white;
  opacity: 1 !important;
}

#testimonial {
  display: flex;
  justify-content: center;
  /* column-gap: 60px; */
  padding: 200px 30px;
  /* margin-top: 50px; */
  transition-duration: 1s;
  background-color: black;
}

#testimonial.white {
  background-color: white;
  transition-duration: 1s;
}

.testimonial-tile {
  width: 50%;
  max-width: 475px;
}

.testimonial-tile:nth-of-type(1) {
  margin-right: 60px;
}

#testimonial h4 {
  display: inline-block;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 0;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

#testimonial p {
  line-height: 39px;
  letter-spacing: -1.2px;
  font-size: 34px;
  margin-bottom: 25px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

#testimonial .testimonial-author span {
  vertical-align: top;
  display: inline-block;
  background: black;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  margin-top: 2px;
}

.see-all {
  text-align: center;
  margin-top: 200px;
}

.see-all a {
  color: white;
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: underline;
  
}

h1, h2, p, div, ul, li {
  font-family: SuisseIntl, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

.inView {
  opacity: 1 !important;
  transition-delay: 0.3s;
  transition-duration: 1s;
}

.tile {
  opacity: 0;
  transition-delay: 0;
  transition-duration: 1s;
}

.row {
  display: flex;
  margin-top: 190px;
}

div.row-1, div.row-3 {
  flex-direction: row-reverse;
}

.row-1 .work-tile video {
  /* background: white; */
  width: 100%;
  max-width: 878px;
  height: 513px;
}

.row-3 .work-tile video {
  /* background: white; */
  width: 100%;
  max-width: 900px;
  height: 535px;
}

.quick-quote {
  width: 450px;
  font-size: 23px;
  margin-top: 95px;
  margin-bottom: 10px;
  font-style: italic;
}

.body-about-text h6 img {
  width: 19px;
  margin-right: 11px;
  position: relative;
  top: 3px;
}

.body-about-text h6 {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

.row-4 .work-tile {
  margin-left: 260px;
}

.row-4 .work-tile video {
  /* background: white; */
  width: 100%;
  max-width: 687px;
  height: 449px;
}

.work-tile {
  display: inline-block;
}

.work-tile video {
  /* background-color: white; */
  width: 100%;
  object-fit: cover;
}

.work-tile img {
  width: 100%;
}

.work-client {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work-tile h2 {
  font-size: 27px;
  text-transform: none;
  font-weight: 100;
  margin-top: 4px;
  max-width: 380px;
  letter-spacing: -0.6px;
}

.work-client span {
  display: inline-block;
  background: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.row-1 .work-tile {
  margin-right: 216px;
}

.row-3 .work-tile {
  margin-right: 80px;
}


.row-2 {
  justify-content: center;
  padding: 0 60px;
  align-items: baseline;
  /* padding-left: 127px;
  padding-right: 220px; */
}

.row-2 .work-tile:nth-child(1) {
  max-width: 900px;
}

.row-2 .work-tile:nth-child(2) {
  max-width: 481px;
}

.row-2 .work-tile:nth-child(1) video{
  padding-right: 20px;
  height: 670px;
  width: 100%;
}

.row-2 .work-tile:nth-child(2) video{
  height: 457px;
}

.body-about-text ul li {
  font-size: 23px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.body-about-text ul li span {
  width: 110px;
}

.body-about-text ul li p {
  margin: 0;
}

.body-about-text ul {
  /* display: flex; */
  flex-direction: row;
  align-content: flex-start;
  margin-left: -109px;
  margin-top: 50px;
}

.body-about-text li span,
.body-about-text li p {
  align-content: ;
}

.reveal-text {
  visibility: hidden;
}

.line {
  position: relative;
  overflow: hidden;
  display: flex;
}

section {
  /* display: grid;
  place-items: center; */
  /* min-height: 100vh; */
  /* width: 100%;
  padding: 10vw; */
}

.body-about-text {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 138px;
  max-width: 1440px;
  margin: 0 auto;
}

.work-tile a {
  text-decoration: none;
  color:white;
}

.work-tile a:hover {
  text-decoration: underline;
}

.deem.outline img {
  border-radius: 54px;
}

.mobile-3.deem img.outline {
  padding: 10px;
  border: solid 1px #FFF;
  border-radius: 36px;
}

@media (max-width: 800px) {

  section.nike_logo video {
    height: 100% !important;
  }

  p.custom-up {
    margin-top: 100px !important;
  }

  /* #work.deem img {
    width: 131%;
  } */

  .deem.outline img {
    border-radius: 43px;
  }

  .deem.mobile-3 .container {
    flex-wrap: wrap;
  }

  .mobile-3.deem img.outline {
    margin-right: 0;
  }

  .mobile-3 {
    overflow-x: hidden;
  }

  .deem.mobile-3 {
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
  }

  .nike .work-hero img {
    width: 172%;
    height: auto !important;
  }

  .mobile-3 img.nike_bg {
    width: 134%;
  }

  #select-engagements h3 {
    margin-top: 180px;
    margin-bottom: 124px;
  }

  .outline img {
    padding: 7px;
    border-radius: 15px;
  }

  video.outline {
    height: auto !important;
    padding: 7px;
    border-radius: 15px;
  }

  section.mobile_mock .outline {
    height: auto;
    width: 100%;
  }

  h3.case-title {
    padding: 0;
    margin-top: 149px;
    margin-bottom: -75px;
  }

  div.eng-row-tile {
    margin-right: 18px;
  }

  div.eng-row-tile img {
    height: 28px;
  }

  .eng-row-tile p {
    font-size: 17px;
    line-height: 21px !important;
  }

  div.eng-row {
    margin-bottom: 95px;
  }

  #select-engagements {
    padding: 0 30px;
  }

  div.engagements-container {
    margin-top: 166px;
  }

  .engagements-container {
    padding-left: 0;
  }

  .eng-row-tile:nth-of-type(2) {
    margin-right: 0;
  }

  .info .right-iso-para {
    padding: 0;
    max-width: 310px;
  }

  div.eng-row {
    width: 100%;
  }

  .right-list h3 {
    margin-bottom: 20px;
  }

  section.left-list {
    margin-top: 50px;
  }

  section.left-list h3 {
    margin-bottom: 20px;
    max-width: 310px;
  }

  div.left-list-content p {
    font-size: 25px;
    max-width: 310px;
    line-height: 28px !important;
  }

  .right-list ul li {
    font-size: 25px;
  }

  section.right-list {
    margin: 0;
    margin-right: 0 !important;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }

  div .content-block.left-list {
    margin-left: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .info.blocks {
    padding: 0 30px;
  }

  div .left-list-content {
    margin-left: 0 !important;
  }

  section.right-list ul{
    margin-left: 0 !important;
  }

  #info {
    position: relative !important;
  }
  
  #work-body {
    margin-top: 350px !important;;
  }

  .work-hero.info{
    width: 100% !important; 
  }
  
  div.work-title {
    margin-top: 60px;
  }

  div.work-title h1 {
    width: 100%;
    font-size: 30px;
    line-height: 32px !important;
    margin-bottom: 46px;
    max-width: 370px;
  }

  ul.work-services {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  ul.work-services li {
    width: 100%;
  }
  

  section.right-iso-para {
    margin: 0;
  }

  .right-text-image-scroll .content {
    flex-flow: column-reverse wrap;
  }

  .left-text-image-scroll .content {
    flex-flow: column wrap;
  }

  .content aside {
    margin-left: 0;
    width: 100%;
    margin-bottom: 40px;
  }

  .widget.js-sticky-widget {
    margin-top: 80px !important;
  }

  #work-body #testimonial {
    padding: 0 30px 140px;
  }
  main img {
    margin-bottom: 40px;
  }

  .testimonial-tile:nth-of-type(1) {
    margin-right: 0 !important;
  }

  .right-list .title-header,
  .left-list .title-header {
    margin-top: 60px !important;
  }

  section.right-iso-para p {
    margin: 0;
    width: 100%;
    font-size: 25px;
    line-height: 27px !important;
    margin-bottom: 36px;
    max-width: 370px;
    align-self: flex-start;
  }

  section.work-intro {
    padding: 0 30px;
  }

  .content-block.full-bleed-image {
    padding: 0 !important;
  }

  section.left-iso-para p {
      margin: 0;
      width: 100%;
      font-size: 25px;
      line-height: 27px !important;
      margin-bottom: 60px;
      max-width: 370px;
      align-self: flex-start;
  }

  .content-block.single-image {
    /* margin-top: 75px; */
  }

 .content-block {
    padding: 0 30px;
  }

  div.widget {
    width: 100%;
    max-width: 370px;
  }

  div.widget p {
    
  }

  h3 {
    width: 100% !important;
    font-size: 19px !important;
    text-transform: uppercase;
  }

  .right-iso-para h3, .left-iso-para h3 {
    margin-top: 60px;
  }

  section.small-bottom-padding {
    padding-bottom: 0 !important;
  }

  .title-header {
    width: 100% !important;
    margin: 0 !important;
  }

  section.right-iso-para .title-header {
    width: 100%;
    margin-right: 0;
  }

  #work {
    height: 350px !important;
  }

  .row-2 .work-tile:nth-child(1) video{
    padding-right: 0;
  }

  .clients-ticker > div {
    width: 1590px !important;
  }

  #body-about .clients-ticker img {
    height: 52px;
  }

  div.row {
    display:block;
  }

  div.submit-content {
    margin-right: 0;
  }

  #submit-inquiry {
    padding: 100px 30px 300px;
    text-align: left;
  }


  div.see-all {
    margin-top: 94px;
  }

  #testimonial {
    flex-wrap: wrap;
    padding: 0 30px;
  }

  .testimonial-tile {
    width: 100%;
  }

  .testimonial-tile:nth-of-type(1) {
    margin-top: 150px;
  }

  .work-hero.info {
    padding-bottom: 400px !important;
  }

  .testimonial-tile:nth-of-type(2) {
    margin-top: 50px;
  }

  .testimonial-tile p {
    font-size: 25px !important;
    line-height: 29px !important;
    max-width: 300px;
  }

  #testimonial h4 {
    max-width: 290px !important;
  }

  .work-tile a {
    text-decoration: underline;
  }

  .work-tile {
    max-width: none !important;
  }

  .body-about-text ul li {
    font-size: 19px !important;
  }

  .body-about-text h1 {
    max-width: 500px;
  }

  #body-about h1 {
    margin-top: 174px !important;
  }

  body h1 {
    font-size: 30px;
    line-height: 32px !important;
  }

  div .row-2 {
    padding: 0;
    flex-wrap: wrap
  }

  div .row {
    margin-top: 0;
  }

  .work-client {
    font-size: 17px !important;
    margin-bottom: 7px !important;
  }

  #body-work {
    margin-top: 80px !important;
    padding: 30px;
  }

  .work-tile h2 {
    font-size: 24px;
  }

  #body-about h1 {
    width: 100%;
  }

  .work-tile video {
    width: 100% !important;
    height: 70% !important;
  }

  .body-about-text {
    padding: 0 30px;
    margin-right: 0;
    flex-direction: row;
  }

  #body-about h1 {
    width: 310px !important;
  }

  .body-about-text ul {
    margin-left: 0;
  }

  body .lower-logo img {
    width: 98%;
    margin: 0 0 4px 5px;
  }

  div.row {
    margin-right: 0;
    margin-left: 0;
  }

  div.work-tile {
    margin: 0 0 70px 0 !important;
    width: 100%;
  }

  div.whole-container {
    width: 100vw;
    overflow-x: hidden;
  }

  #work-body.info .right-iso-para h3 {
    margin-top: 0;
  }

  #body-about {
    /* margin-top: 350px !important; */
  }

  #work-body.info {
    margin-top: -250px !important;
  }

  .work-hero.info p, .work-hero.info ul {
    font-size: 25px;
  }

  .visible {
    height: 30px !important;
  }

  .work-hero.info {
    padding: 0 30px;
  }

  div.first-line p {
    margin-right: 6px !important;
  }

  .second-line {
    font-size: 25px !important;
  }

  .case-study #body-about {
    margin-top: 350px;
  }

  #home video {
    height: 40vh !important;
  }

  body #body-about {
    width: 100vw;
    margin-top: 100vh !important;
    overflow-x: hidden;
  }

  body #home {
    width: 100vw;
  }

  #loader {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    margin-top: 0%;
  }
  
  body #loader.away {
    margin-top: -100vh;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier( 0.92, 0.2, 0.29, 1 );
  }

  #work-loader {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    margin-top: 0%;
  }
  
  body #work-loader.away {
    margin-top: -100vh;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier( 0.92, 0.2, 0.29, 1 );
  }

  div.logo-wrap {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 41px;
    top: 44%;
    overflow: hidden;
  }
  
  div.logo-wrap.close {
    height: 0;
    transition-duration: .6s;
    transition-timing-function:cubic-bezier( 0.38, 0, 0.13, 1 );
  }
  
  .logo-wrap img {
    width: 100%;
    margin-top: 0;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier( 0, 0.35, 0.01, 1 ) ;
  }
  
  .initial .logo-wrap img {
    margin-top: 100px;
    animation-duration: 1s;
  }


  .whole-container #home-contact.show {
    width: 100% !important;
    left: 0 !important;
  }


  form {
    position: relative;
  }

  .whole-container #home-contact .dropdown {
    background-position: bottom 15px right 14px;  }

  .whole-container #home-contact {
    width: 100% !important;
    left: 100% !important;
  }

  .whole-container .home-container {
    display: block;
    overflow-y: scroll;
  }

  .whole-container .home-container div {
    max-width: 80%;
  }

  .about-me, .services, .previous-engagements, .contact {
    margin-bottom: 50px;
  }

  .whole-container #home-about {
    display: block;
    width: 100%;
    left: 100%;
    overflow-y: scroll;
    position: fixed;
  }

  .whole-container #home-contact {
    position: fixed;
  }

  .whole-container #home-about.show {
    left: 0 !important;
  }

  .whole-container nav .container {
    padding-left: 15px;
  }


  body {
    /* overflow: hidden; */
    width: 100vw;
    overflow-x: hidden;
  }

  body nav {
    width: 100vw;
  }

  .right-menu button {
    width: 100%;
    margin-top: 14px;
  }

  .right-menu {
    display: block !important;
    padding: 0 15px;
  }

  nav ul {
    height: auto !important;
    /* justify-content: space-between; */
    width: 100%;
  }

  nav .container {
    display: initial !important;
  }

  .right-menu > ul {
    position: absolute;
    top: 3px;
    /* right: -24px; */
  }

  .right-menu li {
    /* width: 100%; */
    margin-right: 27px;
  }

  .right-menu ul a {
    width: 100%;
    text-align: left;
  }
  .work-button {
    margin-left: 96px !important;
  }

  nav button ul li a {
    margin-top: 2px !important;
  }

  nav .container img {
    width: 98%;
    margin-left: 5px;
  }

  .cns .work-hero img {
    width: 340px !important;
  }

}

#body-work {
  padding: 0 30px;
  max-width: 1440px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul {
  margin:0;
  padding: 0;
}

ul li {
  list-style: none;
}

.App {
  text-align: center;
}

h2 {
  font-family: SuisseIntl, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 19px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#loader {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  margin-top: 0;
}

#loader.away {
  margin-top: -100%;
  transition-duration: 1s;
  transition-timing-function:cubic-bezier( 0.92, 0, 0.29, 1 );
}

.first-line, .second-line {
  color: white;
}

.first-line p {
  display:inline;
  float:left;
  margin-right: 10px !important;
  font-weight: 300;
}

.first-line ul li {
  font-weight: 300;
}

.first-line ul {
  margin-top:0;
  /* padding-left:110px; */
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes change {
  0%, 12%{
      transform: translateY(0%);
  }
  24%, 36%{
      transform: translateY(-20%);
  }
  48%, 60%{
      transform: translateY(-40%);
  }
  72%, 84%{
      transform: translateY(-60%);
  }
  96%, 100% {
      transform: translateY(-80%);
}
}

@keyframes change {
  0%, 12%{
      transform: translateY(0%);
  }
  24%, 36%{
      transform: translateY(-20%);
  }
  48%, 60%{
      transform: translateY(-40%);
  }
  72%, 84%{
      transform: translateY(-60%);
  }
  96%, 100% {
      transform: translateY(-80%);
}
}

.visible {
  font-weight:600;
  overflow:hidden;
  height:40px;
  /* padding:0 40px; */
}

.work-hero video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
}

.nike .work-hero img {
  height: 100vh;
}


.work-hero.info {
  flex-flow: column wrap;
  -webkit-align-items: flex-start;
  width: 480px;
  justify-content: flex-end;
  padding-bottom: 200px;
}

#work-loader {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  margin-top: 0;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier( 0.92, 0, 0.29, 1 );
}

#work-loader.away {
  margin-top: -100%;
  transition-duration: 1s;
  transition-timing-function:cubic-bezier( 0.92, 0, 0.29, 1 );
}

.logo-wrap {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 101px;
  top: 38%;
  overflow: hidden;
}

.logo-wrap.close {
  height: 0;
  transition-duration: .6s;
  transition-timing-function:cubic-bezier( 0.38, 0, 0.13, 1 );
}

.logo-wrap img {
  width: 100%;
  margin-top: 0;
  transition-duration: 1s;
  transition-timing-function:cubic-bezier( 0, 0.35, 0.01, 1 ) ;
}

.initial .logo-wrap img {
  margin-top: 100px;
  animation-duration: 1s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 110px;
}

.home-container div {
  flex: 1;
  max-width: 220px;
}

.home-container .about-close {
  position: absolute;
  right: -7px;
  top: 13px;
  cursor: pointer;
}

.home-container p {
  line-height: 25px;
}

.home-container li span {
  font-style: italic;
  color: #939393;
}

.home-container li {
  margin-bottom: 6px;
}

.home-container ul {
  margin-bottom: 20px;
}

.about-close img {
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TRANSITIONS */

/* HOME */

#home video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
}

#work {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  /* transition: opacity 1.4s cubic-bezier(0.5, 0, 0.05, 1); */
}

#info {
  /* padding-bottom: 259px; */
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  /* transition: opacity 1.4s cubic-bezier(0.5, 0, 0.05, 1); */
}

#info {
  font-size: 33px;
}

.work-hero, .hero {
  opacity: 1;
  /* transition: opacity 1.4s cubic-bezier(0.5, 0, 0.05, 1); */
}

.work-hero.initial, .hero.initial {
  opacity: 0;
  transition: opacity 1.4s cubic-bezier(0.5, 0, 0.05, 1);
}

.work-hero {
  width: 100%;
  text-align: center;
}

#work.hero.initial {
  opacity: 0;
  transition: 3s;
}

.work-hero {
  /* padding-top: 100px; */
  padding-top: 0;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: center;
  height: 100%;
  transform: scale(1);
  /* transition-duration: 5s; */
  transition: 1.4s cubic-bezier(0.5, 0, 0.05, 1);
  
}

.work-hero.initial {
  padding-top: 200px;
  transform: scale(1.15);
}

.cns .work-hero img{
  width: 1092px;
  max-width: 1092px;
}

.cns .work-hero {
  background-color: #ECDFD6;
}


.work-hero.info p, .work-hero.info ul{
  display: inline-block;
  margin: 0;
}

/* ABOUT */

#home {
  position: fixed;
  width: 100%;
  background: black;
  transition-duration: 1s;
}

#home.white {
  background: white !important;
  transition-duration: 1s;
  color: black !important;
}

#body-work {
  transition-duration: 1s;
}

#body-work.white {
  background-color: white !important;
  color: black !important;
  transition-duration: 1s;
}

#body-work.white a {
  color: black !important;
}

body #body-about.work {
  margin-top: 0 !important;
}


#body-about {
  background: black;
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: 100vh;
  /* height: 3600px; */
  width: 100%;
}

#work-body {
  background: black;
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: 100vh;
  /* height: 3600px; */
  width: 100%;
}

#work-body .work-client {
  margin-bottom: 40px;
}

.right-iso-para {
  font-size: 30px;
  line-height: 32px !important;
  width: 476px;
}

.left-iso-para {
  font-size: 30px;
  line-height: 32px !important;
  /* width: 476px; */
}

.work-services {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

.work-services li {
  text-transform: uppercase;
  font-size: 19px;
  width: 50%;
}

.work-intro {
  max-width: 940px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.right-iso-para {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.right-iso-para p{
  align-self: flex-end;
  width: 413px;
  margin-right: 80px
}



.work-title {
  margin-top: 150px;
}

.work-title h1 {
  margin-bottom: 100px;
  width: 534px;
}

.work-services {
  width: 440px;
  margin-bottom: 300px;
}



#body-about .clients-ticker img {
  /* height: 52px; */
}

#about {
  width: 100vh;
  height: 100vw;
  /* background-color: gray; */
}

#about .content {
  font-size: 50px;
  margin-top: 50px;
}

.clients-ticker {
  overflow-x: hidden;
  overflow-y: hidden;
width: 100%;
height: 75px;
}

.clients-ticker > div {
    width: 100%;
    position: relative;
}

.clients-ticker img {
  top: 16px;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

#body-about h1 {
  margin-top: 300px;
  width: 482px;
  line-height: 39px;
  letter-spacing: -1.2px;
  opacity: 0;
  transition-duration: 2.5s;
}

.clients-ticker img:nth-of-type(2) {
  margin-left: 100%;
}

@keyframes marquee{
  0%{transform: translateX(-100%);}
  100%{transform: translateX(-200%);}
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .clients-ticker img{
      animation: marquee 15s linear infinite;
  }
}

/* NAV */

nav {
  position: fixed;
  width: 100%;
  mix-blend-mode: difference;
  z-index:3;
}

.lower-logo {
  position: fixed;
  bottom: 0;
  width: 100%;
  mix-blend-mode: difference;
  z-index:3;
}

nav .container {
  padding: 5px 20px;
  display: flex;
  justify-content:space-between;
  
  width: 100%;
}

nav .container button {
  justify-content: right;
  padding: 0;
  height: 42px;
  margin-top: 11px;
  cursor: pointer;
}

nav ul {
  display: flex;
  padding: 0;
  height: 100%;
  margin-top: 11px;
}


nav ul li a, nav button {
  font-family: SuisseIntl, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
}

nav button {
  border-width: 0px;
  border-color: white;
  /* height: 43px;
  padding: 0 30px; */
}

.header-wrapper {
  transition: transform 1.5s cubic-bezier(0.5, 0, 0.05, 1);
}

.work-button {
  margin-left: 175px;
}

a span {
  display: block;
  transition: transform 400ms cubic-bezier(0, 0, 0.265, 0.95);
}

nav ul li a {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

nav ul li a:after {
  content: attr(data-link-alt);
  display: inline;
  position: absolute;
  transition: top 400ms cubic-bezier(0, 0, 0.265, 0.95);
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
nav ul li a:hover {
  cursor: -webkit-pointer;
  cursor: pointer;
}
nav ul li a:hover span {
  transform: translateY(-100%);
}
nav ul li a:hover:after {
  top: 0;
}
nav ul li a:active {
  /* -webkit-animation-name: rubberBand;
          animation-name: rubberBand; */
  cursor: -webkit-pointer;
  cursor:pointer;
}

nav button ul {
  margin: 0;
}

nav button ul li {
  margin: 0;
}

nav button ul li a {
  /* width: 190px; */
  margin-top: 11px;
  /* height: 40px; */
  /* line-height: 40px; */
  display: block;
}

form {
  position:absolute;
  z-index: 5;
}


#home-about .home-container p {
  font-size: 16px;
  font-family: SuisseIntl, sans-serif;
  font-weight: 300;
  letter-spacing: -0.1px;
  margin: 0 0 17px;
}

.right-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* end hover */

nav ul li {
  padding: 0;
  margin-right: 40px;
}

nav ul li:nth-child(3) {
  margin-right: 100px;
}

.lower-logo img {
  width: 780px;
  margin: 0 0 4px 7px;
}

.success {
  opacity: 0;
}

.success.show {
  opacity: 100%;
}

.contact-close, .info-close {
  position: absolute;
  z-index: 5;
  right: -7px;
  top: 13px;
  cursor: pointer;
}

.contact-close img,
.info-close img {
  width: 50%;
}

#home-contact {
  position: fixed;
  top: 0;
  height: 100%;
  width: 476px;
  background: white;
  z-index: 3;
  left:100%;
  transition: 2s cubic-bezier(0.5, 0, 0.05, 1);
}

#home-contact.show {
  left: calc(100% - 476px) !important;
  transition: 2s cubic-bezier(0.5, 0, 0.05, 1);
}

#home-contact h2 {
  padding: 0 25px;
}

#home-contact form {
  width: 100%;
  padding: 0 25px;
}

#home-contact label{
  display: block;
  margin-bottom:6px;
  font-size: 16px;
  font-family: SuisseIntl, sans-serif;
  font-weight: 300;
}

#home-contact input,
#home-contact select {
  /* color: black !important; */
  display: block;
  width: 100%;
  border: 1px solid #000 !important;
  height:40px none;
  margin-bottom: 20px;
  appearance: none !important;
  padding: 10px;
  font-family: SuisseIntl, sans-serif !important;
}

#home-contact select {
  background:transparent;
}

#home-contact h2 {
  margin-bottom: 0;
  font-family: SuisseIntl, sans-serif !important;
}

#home-contact p {
  padding: 0 25px;
  margin: 2px 0 70px;
  font-style: italic;
}

#home-contact textarea {
  color: black !important;
  width: 100%;
  height: 163px;
  padding: 10px;
  resize: vertical;
  border-radius: 0 none !important;
  border: 1px solid #000;
  font-family: SuisseIntl, sans-serif !important;
}

#home-contact .form-button {
  color: white;
  background: black;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

#home-contact .form-button.clicked {
  opacity: 20%;
}

.dropdown {
  background: url("../images/arrow.png") no-repeat 397px 15px;
  background-size: 16px;
}

#home-about{
  position: absolute;
  top: 0;
  height: 100%;
  width: 1240px;
  background: white;
  z-index: 3;
  left:100%;
  transition: 2s cubic-bezier(0.5, 0, 0.05, 1);
  padding-left: 25px;
};


#home-about .home-container {
  background: white;
};

/* loader */

.loader {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  transition: transform 1.5s cubic-bezier(0.5, 0, 0.05, 1);
}

.loader-inner {
  position: absolute;
  transition: transform 2s cubic-bezier(0.5, 0, 0.05, 1);
  /* margin: 0 auto; */
}

.loader-inner img{
  top: -50px;
  width: 709px;
  z-index: 4;
  position: relative;
  animation: rotation alternate;
  animation-duration: 2s;
  animation-delay: 1.50s;
  animation-timing-function: cubic-bezier(0.65, 0, 0.05, 1);
  animation-fill-mode: forwards;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0%;
  position: fixed;
  top: 0;
  transition: 2s;
}

#overlay.show {
  opacity: 90%;
  z-index: 2;
}

#home-about.show {
  left: calc(100% - 1240px) !important;
  transition: 2s cubic-bezier(0.5, 0, 0.05, 1);
}

.container .img {
  transition: 2s;
}

.container img.show {
  opacity: 20%;
  transition: 2s;
}

@keyframes rotation {
  50%   { top: -50px }
  100% { top: -150px }

}

.fixed {
  top: -25px;
  position: relative;
  font-family: SuisseIntl, sans-serif;
  font-weight: 400;
  font-size: 23px;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 80px;
  /* background-color: gray; */
  overflow: hidden;
  text-align: center;
};


